---
layout: none
---
<html>
<head>
    <title>SOCurbside.com - Southern Oregon curbside takeout and delivery for local COVID-19 impacted businesses</title>
    <link href="https://unpkg.com/tailwindcss@^1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-4xl font-bold leading-7 text-gray-100 bg-gray-900 sm:text-4xl sm:leading-9 sm:truncate py-3 px-3">
        <a href="/">SOCurbside.com</a>
    </h2>
  </div>
</div>

{{ content }}

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0 py-3 px-3 py-8">
    <div class="text-center py-8">
      <p>
        Made with ♥ in MFR by
        <a rel="author" class="hover:text-blue-500 text-blue-700 underline" href="https://twitter.com/gregkaleka">
          Greg Kaleka</a>
        a
        <a target="_blank" class="hover:text-blue-500 text-blue-700 underline" href="https://gregkaleka.com/">
          Django consultant</a>.
          🙏 Special thanks to
        <a target="_blank" class="hover:text-blue-500 text-blue-700 underline" href="https://www.revsys.com/about/bio/jeff-triplett">
          Jeff Triplett</a>
        for creating the basis for this project.
        <a target="_blank" rel="nofollow" class="hover:text-blue-500 text-blue-700 underline" href="https://github.com/gregkaleka/socurbside.com">
          View on GitHub</a>
    </div>
  </div>
</div>
</body>
</html>
